/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
  font-family: 'omori';
  src: url('../fonts/OMORI_GAME2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #111111
}

h1 {
  font-family: 'omori', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 7vh;
  text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,  
    -2px  2px 0 #000,  
     2px  2px 0 #000,  
    -2px  0px 0 #000,  
     2px  0px 0 #000,  
     0px -2px 0 #000,  
     0px  2px 0 #000;
}

.content {
  color: white;
  font-family: Verdana;
}

.background {
  position: fixed; /* background doesn't move while scrolling */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  background-image: url('../images/background.webp');
  background-size: cover; /* cover not stretch */
  background-repeat: no-repeat; /* no 1990s tiling */
  background-position: center; /* centered */
  z-index: -1; /* behind everything */
}

.bg1 {
  left: 0;
}

.bg2 {
left: 100vw; /* positioned offscreen to the right */
}

#viewport-container
{
width: 100vw;
height: 100vh;
position: relative;
}

#bottom-right-message
{
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 30px;
  font-family: monospace;
}